*{
   margin: 0;
   padding: 0;
   outline: none;
   font-family: 'Poppins', sans-serif;
 }
.side_bar{
   display: flex;
   flex-direction: column;
   padding: 40px;   
   background-image: url("/bg-sidebar-desktop.svg");
   background-repeat: no-repeat;
   background-size: auto;
   height: 550px;
   width: 200px;
}
body{
   background-color:rgb(212, 133, 127) ;
}
.container{
   display: flex;
   flex-direction: row;
   padding: 20px;
   margin: 20px;
   position: absolute;
   border-radius: 10px;
   background-color: aliceblue;
   align-items: center;
   align-content: center;
   justify-content: center;
   height: 100%;
}
.container .form{
   margin-left: 40p;
   overflow: hidden;
   
}
.main_container{
   box-sizing: border-box;
   border-radius: 50px;
   margin-left: 250px;
   overflow: hidden;
}
#sinfo{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: beige;
}
button{
   background-color: gray;
   border-radius: 8px;
   border-color: gray;
}
input {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   box-sizing: border-box;
 }
 input:focus{
   background-color: lightblue;
 }
 .side_bar .steps .bullet{
   height: 30px;
   width: 30px;
   border: 1px solid white;  
   border-radius: 50%; 
   font-size: 20px;
   color: antiquewhite;
 }
 .plan{
   display: flex;
   border: 1px solid #000;
   border-radius: 2px;
 }
 .form form .page{
   width: 25%;
   overflow: hidden;
 }